@import "./colors.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: flex-start;
  margin: 1rem;

  &-title {
    color: $warehouse-black;
    font-size: 1.3rem;
  }

  &-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5%;
  }

  &-label {
    font-size: 1.1rem;
    color: $warehouse-gray;
    padding: 0.25rem;
    max-width: 20rem;
  }

  &-input {
    color: $warehouse-gray;
    font-size: 1.1rem;
    border: 0.05rem solid $warehouse-gray;
    border-radius: 1.5rem;
    padding: 0.5rem;
    outline: transparent;
  }

  &-select {
    color: $warehouse-gray;
    font-size: 1.1rem;
    border: 0.05rem solid $warehouse-gray;
    border-radius: 1.5rem;
    padding: 0.5rem;
    outline: transparent;
  }

  &-button {
    color: $warehouse-white;
    background-color: $warehouse-green;
    font-size: 1.2rem;
    border: 0.05rem solid $warehouse-green;
    border-radius: 1.5rem;
    padding: 0.5rem;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      background-color: $warehouse-gray;
      border: 0.05rem solid $warehouse-gray;

      &:hover {
        cursor: default;
      }
    }
  }

  &-footer {
    display: flex;
    gap: 1rem;
    padding: 1rem;
  }

  .is-invalid {
    border: 0.1rem solid $warehouse-red;
  }

  .invalid {
    margin-top: 0.5rem;

    &-feedback {
      font-size: 1.1rem;
      color: $warehouse-red;
    }
  }
}
