@import "./colors.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: flex-start;
  padding: 2rem;
  flex-wrap: wrap;

  &-title {
    color: $warehouse-black;
    font-size: 1.2rem;
  }

  &-row {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    align-items: center;
  }

  &-label {
    font-size: 1rem;
    color: $warehouse-silver;
    padding: 0.25rem;
    min-width: 4rem;
  }

  &-input {
    color: $warehouse-gray;
    font-size: 1rem;
    border: 0.05rem solid $warehouse-gray;
    border-radius: 1.5rem;
    padding: 0.5rem;
    outline: transparent;
    min-width: 15rem;
  }

  &-select {
    color: $warehouse-gray;
    font-size: 1rem;
    border: 0.05rem solid $warehouse-gray;
    border-radius: 1.5rem;
    padding: 0.5rem;
    outline: transparent;
    min-width: 15rem;

    &:hover {
      cursor: pointer;
    }
  }

  .is-invalid {
    border: 0.1rem solid $warehouse-red;
  }

  .invalid {
    margin: 0.15rem 0;
    max-width: 15rem;
    visibility: hidden;

    &-feedback {
      font-size: 0.8rem;
      color: $warehouse-red;
    }
  }

  .visible {
    visibility: visible;
  }
}
