<div class="product-card">
  <span class="card-row"
    ><span class="card-label">Code: </span>{{ product.code }}</span
  >
  <span class="card-row"
    ><span class="card-label">Quantity: </span>{{ product.quantity }}</span
  >
  <span class="card-row"
    ><span class="card-label">Location: </span>{{ product.floor }} /
    {{ product.section }}</span
  >

  <div class="card-footer">
    <button
      class="warehouse-button"
      type="button"
      [routerLink]="['/product', product.id]"
    >
      Edit Product
    </button>

    <button
      class="warehouse-button warning"
      type="button"
      (click)="onDelete(product.id)"
    >
      Delete Product
    </button>
  </div>
</div>
