@import "./shared/ui/colors.scss";
@import "./shared/ui/links.scss";

.werhouse {
  &-header {
    background-color: $werhouse-white;
    border-bottom: 0.1rem solid $werhouse-gray;
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
  }

  &-title {
    font-size: 2rem;
    color: $werhouse-red;
    margin-right: 0.5rem;
  }

  &-footer {
    background-color: $werhouse-red;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    .copy {
      color: $werhouse-white;
      font-size: 1.5rem;
    }
  }
}
