<header class="warehouse-header">
  <ul class="warehouse-header-list">
    <li><a class="warehouse-header-list-link" routerLink="/home">Home</a></li>
    <li>
      <a class="warehouse-header-list-link" routerLink="/product"
        >New Product</a
      >
    </li>
  </ul>
</header>

<main class="warehouse-main">
  <router-outlet></router-outlet>
</main>

<footer class="warehouse-footer">
  <span class="warehouse-footer-copy">© 2023 Marko Radulovic</span>
</footer>

<button
  *ngIf="isScrolled"
  class="scroll-to-top"
  type="button"
  (click)="scrollToTop()"
>
  Top
</button>
