@import "./shared/ui/colors.scss";
@import "./shared/ui/links.scss";

.warehouse {
  &-header {
    background-color: $warehouse-white;
    border-bottom: 0.1rem solid $warehouse-gray;
    padding: 1.5rem;

    &-list {
      display: flex;
      gap: 1rem;
      list-style: none;

      &-link {
        font-size: 1.3rem;
        text-decoration: none;
        color: $warehouse-red;

        &:hover {
          cursor: pointer;
        }

        &:visited {
          color: $warehouse-red;
        }
      }
    }
  }

  &-main {
    min-height: 100vh;
  }

  &-footer {
    background-color: $warehouse-red;
    padding: 1.5rem;
    display: flex;
    justify-content: center;

    &-copy {
      color: $warehouse-white;
      font-size: 1.5rem;
    }
  }
}
