@import "../../../styles/colors.scss";

.warehouse-product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.product-title {
  color: $warehouse-black;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
