@import "../shared/ui/forms.scss";
@import "../shared/ui/links.scss";

.warehouse {
  &-home {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0.5rem;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  &-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0 1rem;
  }
}
