@import "../styles/forms.scss";
@import "../styles//colors.scss";

.warehouse {
  &-home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem;
  }
}

.form {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
