@import "../styles/forms.scss";
@import "../styles//colors.scss";

.warehouse {
  &-home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem;
  }
}

.form {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 0.5rem 0 #333;
  border-radius: 1rem;

  &-row {
    gap: 1rem;
  }
}
